<style>
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>

<% 
function formatDate(date) {
    if (!date){
        return ""
    }
    const dateObj = new Date(date)
    return dateObj.toISOString().replace(/T.+/i, '')
}
%>
<body>
<h3>Se ha registrado un nuevo usuario.</h3>
<br>
<p>Infromacion del usuario:</p>
<img src="<%= usuario.imagenurl %>" alt="Avatar" class="avatar">
<ul>
    <li><b>Mail</b>: <%= usuario.username %></li>
    <li><b>Nombre</b>: <%= usuario.nombre %></li>
    <li><b>Apellido</b>: <%= usuario.apellido %></li>
    <li><b>Direccion</b>: <%= usuario.direccion %></li>
    <li><b>Fecha de Nacimiento</b>: <%= formatDate(usuario.fechanacimiento) %></li>
    <li><b>Telefono</b>: <%= usuario.telefono %></li>
  </ul>  
</body>