<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            
            <div class="table-responsive">
                <h3>Parametros de Sistema</h3>
                <table class="table table-dark">
                    <tr style="color: white;">
                        <th>Descripcion</th>
                        <th>Valor</th>
                    </tr>
                    <% systemParams.forEach((p)=> { %>
                    <tr>
                        <td><%= p.desc %></td>
                        <td><%= p.value %></td>
                    </tr>
                    <% }) %>
                </table>
                <br>
                <h3>Parametros del Usuario</h3>
                <table class="table table-dark">
                    <tr style="color: white;">
                        <th>Descripcion</th>
                        <th>Valor</th>
                    </tr>
                    <% userParams.forEach((p)=> { %>
                    <tr>
                        <td><%= p.desc %></td>
                        <td><%= p.value %></td>
                    </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
</body>